<h1>Login</h1>

<%= form_tag sessions_path do %>

<%= link_to "Home", languages_path %><br><br>

  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email] %>
  <br>

  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <br>

  <%= submit_tag "Log in" %>
<% end %>
