<h1>Edit This Conversation's Title!</h1>

<%= form_for @conversation do |f| %>

    <div>
        <%= f.label :content %>
        <%= f.text_field :content %>
    </div>

    <%= f.submit "Submit these changes!" %>

<% end %>

<%= link_to "Back to the list!", conversations_path %>
