<h1>Edit This Conversation's Title!</h1>

<%= form_for language_conversations_path(@conversation.language) do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <%= f.submit "Submit these changes!" %>

<% end %>

<%= link_to "Back to the list!", language_conversations_path %>
