<body class="newc">
<h1>Start a new language exchange!</h1>

<%= form_for [@language, @conversation] do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div><br>

    <%= f.submit "Start new conversation!" %>

<% end %><br>

<%= link_to "Back to #{@language.name}", language_path(@language) %>
</body>
