<h1>Start a new language exchange!</h1>

<%= form_for @conversation do |f| %>

    <div>
        <%= f.label :content %>
        <%= f.text_field :content %>
    </div>

    <%= f.submit "Start new conversation!" %>

<% end %>

<%= link_to "Home", conversations_path %>
