<h1> <%= @conversation.content %> </h1>

<p>This conversation was started <%= @conversation.created_at %>.</p>
<p>Post in the conversation if you're interested in learning or teaching!</p><br>

<%= link_to "Back to All Conversations!", conversations_path %><br>
<%= link_to "Edit this conversation's title!", edit_conversation_path(@conversation) %><br>
<%= @conversation.updated_at %><br>
