<h1>Edit your User information</h1>

<body class="bform">
  <%= form_for @user do |f| %>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.text_field :password %>
    </div>

    <div class="pwc">
      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <br>

    <%= f.submit "Submit changes" %>
  <% end %>
  <br>
  <%= link_to "Back to the Cafe!", languages_path %>
</body>
