<h1>Edit your post</h1>

<%= @post.content %>

<%= form_for @post do |f| %>
<div>
 <%= f.label :content %>
 <%= f.text_field :content %>
</div><br>

<% end %>
<%= link_to "Back to #{@conversation.title}", language_conversation_path(@language, @conversation) %>
