<h1>Edit your post</h1>

<%= form_for @post do |f| %>

    <div>
        <%= f.label :content %>
        <%= f.text_field :content %>
    </div>

    <%= f.submit "Edit Post" %>

<% end %>

<%= link_to "Back to the Conversation", conversations_path %>
