<body class="newp">
<h1>Post a cry for help!</h1>

<%= form_for [@language, @conversation, @post] do |f| %>

    <div>
        <%= f.label :content %>
        <%= f.text_field :content %>
    </div>

    <%= f.submit "Submit post" %>

<% end %>

<%= link_to "Back to #{@conversation.title}", language_conversation_path(@language, @conversation) %>
</body>
